body{
    margin: 0;
    padding: 0;
    background: black;
}


.material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

.menubar {
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 10px #666; 
}

.menubar .logo {
    float: left;
}

.menubar h1 {
    margin: 0;
    font-size: 32px;
    font-weight: normal;
    padding: 10px;
}


.menubar ul.menu {
    list-style: none;
    float: right;
    
}
.menubar ul.menu li {
    float: left;
    margin-right: 20px;
    
}
.menubar ul.menu li a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}
.menubar ul.menu li a:hover {
    border-bottom: 2px solid #333;
    padding-bottom: 0;
}

.nav ul{
    list-style: none;
    background-color: #444;
    text-align: right;
    padding: 0;
    margin: 0;
}

.nav li{
    font-size: 1.2em;
    line-height: 40px;
    text-align: left;
}

.nav a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #888;
    transition: .3s;
}

.nav a:hover{
    background-color: aquamarine;
}

.nav a.active{
    background-color: #aaa;
    color: #444;
    cursor: default;
}

.nav li li{
    font-size: .8em;
}



@media screen and (min-width: 100px){
    .nav li{
        width: 130px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.2em;
        display: inline-block;
        margin-right: 0;
    }

    .nav a{
        border-bottom: none;
    }

    .nav > ul > li{
        text-align: center;
    }

    .nav > ul > li > a {
        padding-left: 0;
    }

    .nav li ul{
        position: absolute;
        display: none;
        width: inherit;
    }

    .nav li:hover ul{
        display: block;
    }

    .nav li ul li{
        display: block;
    }
}


.maindiv{
    width: 90%;
    height: 600px;
    position: absolute;
    left: 46%;
    top: 60%;
    transform: translate(-50% ,-60%);
    background-image: url('https://cdn.pixabay.com/photo/2020/03/10/11/55/netherlands-4918751_1280.jpg');
    background-size: 100% 100%;
    animation: slider 15s infinite ;
}

@keyframes slider{
    0%{background-image: url('https://cdn.pixabay.com/photo/2020/03/10/12/41/current-4918904__340.jpg');}
    15%{background-image: url('https://cdn.pixabay.com/photo/2020/02/26/15/03/butterfly-4881977__340.jpg');}
    30%{background-image: url('https://cdn.pixabay.com/photo/2020/03/10/12/32/sunset-4918875__340.jpg');}
    45%{background-image: url('https://cdn.pixabay.com/photo/2020/03/03/20/31/laguna-4899802__340.jpg');}
    60%{background-image: url('https://cdn.pixabay.com/photo/2020/03/07/16/08/winter-moutain-4910186__340.jpg');}
    75%{background-image: url('https://cdn.pixabay.com/photo/2020/02/23/11/36/castle-4873097__340.jpg');}
}

footer {
    background: #333;
    margin-top: 650px;
    padding: 12px;
    text-align: center;
    color: #fff;
}
footer p {
    margin: 0;
}